.DS_Store
orig BSMM_8740_lec_07.qmd
origBSMM_8740_lec_04.qmd
BSMM_8740_lec_04_files
BSMM_8740_lec_03_files
BSMM_8740_lec_08_files
BSMM_8740_lec_09_cache
BSMM_8740_lec_09_files
BSMM_8740_lec_09a_cache
BSMM_8740_lec_09a_files
temp_cache
temp_files
BSMM_8740_lec_10_files
fits
BSMM_8740_lec_05_files
BSMM_8740_lec_09b_files
BSMM_8740_lec_10_orig.qmd
BSMM_8740_lec_10_cache
BSMM_8740_lec_10_restored.qmd
CRAP_BSMM_8740_lec_10.qmd
BSMM_8740_lec_09b_cache
BSMM_8740_lec_07_files
scrolly
