PCA_and_component_selection_files
PCA_and_component_selection.qmd.orig
covariance_decomposition_hd_files
covariance_decomposition_files
covariance_decomposition_hd.aux
covariance_decomposition_hd.log
covariance_decomposition_hd.pdf.md
covariance_decomposition_hd.tex
covariance_decomposition_hd.synctex.gz
covariance_decomposition_hd.pdf
decompositions-hd.pdf
